.App{
  background-color: #f1f1f1;
  min-height: 100vh;
  /* overflow-x: hidden;
  overflow-y: auto; */
}
pre{
  background-color: rgba(186, 171, 171, 0.32);
  color: rgb(0, 65, 156);
  padding: 10px;
  border-radius: 5px;
}

/* container for the editor text area */
.CodeMirror {
  width: 100%;
  height: auto;
  /* min-height: 15vw;  */
  font-size: 1.2rem;

  @media (max-width: 700px) {
    font-size: 1rem;
    min-height: 200px;
  }
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;


  /* Responsive styles */
  @media (max-width: 992px) {
    padding: 10px;
  }

  @media (max-width: 768px) {
    max-width: 650px;
    padding: 5px;
  }

  @media (max-width: 576px) {
    max-width: 440px;
  }
}
/* 
.post-container{

} */

/* submit button in the center */
.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
  border-radius: 9px;
  border: none;
  background-color: #c2f74e;
  color: rgb(54, 64, 54);
  max-width: 760px;
  width: 100%;
  
}

/* add box shadow on hover */
.submit-button:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* increase width of the text box */

.ql-editor{
  min-height: 200px;
}

/* align the title input box with CodeMirror */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 9px;
  border: 1px solid #b0a7a7;
  /* background-color: #c2f74e; */
  color: rgb(54, 64, 54);
  max-width: 740px;
  width: 100%;
}

/* .l-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
} */






