.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 9px;
    color: rgb(54, 64, 54);
    max-width: 850px;
    width: 100%;
}

.editor{
    width: 100%;
    background-color: white;
    border: none;
    padding: 0px;
    border-radius: 15px;
}

textarea:focus,
input:focus {
    outline: none;
}


.CodeMirror.title{
    width: 100%;
    background-color: white;
    border: none;
    padding: 20px;
    margin: 1px;
}



.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #5dbaf1;
    color: rgb(255, 255, 255);
    max-width: 120px;
    width: 100%;

}

/* add box shadow on hover */
.submit-button:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* increase width of the text box */

.ql-editor {
    min-height: 600px;
}

/* media query 960 px */
@media screen and (max-width: 960px) {
    .input-container {
        max-width: 100vw;
        padding: 0px;
        border-radius: 0px;
    }

    .ql-editor {
        min-height: 65vh;
    }

    .submit-button{
        width: 80%;
    }
}


